.item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .item {
    gap: 0;
  }

  .linkText {
    width: 0;
    opacity: 0;
    transition: 0.2s opacity;
  }
}
